.imagenportada
    {background-image: url(../images/fondo.png);
    background-size: 1000px;
    text-align: center;}
   
.imagenlogo
    {width: 25%; 
    height: 25%;}    

h1 
    {text-align: center; 
    color: darkgoldenrod;}  

h2
    {text-align: center; 
    color: darkgoldenrod;}

h3
    {text-align: center;
    color: darkgoldenrod;}

.btnpropio
    {background-color: darkgoldenrod; 
    color: black; 
    border-color: black;}

.cardpropia
    {background-color: rgb(192, 180, 112);}
    
.estilofooter 
    {padding-top: 50px;
    background-color: rgba(184, 135, 11, 0.644);}

footer 
    {color: rgb(0, 0, 0);}

.iconos
    {height: 50px;
    width: 50px;}    

.titulosecundario
    {text-align: center;}

.botonbinance
    {color: rgb(255, 196, 0)
    ;background-color: black;}

.botonbinancefondo  
    {background-color: rgb(0, 0, 0)
    ;color: darkgoldenrod;}


.botonkucoin
    {color: rgb(0, 0, 0)
    ;background-color: rgb(43, 225, 231);}

.botonkucoinfondo
    {background-color: aqua
    ;color: black;}

.botonlemon
    {color: rgb(0, 0, 0)
    ;background-color: rgb(0, 236, 12);}

.botonlemonfondo
    {background-color: black
    ;color: rgb(0, 255, 0);}


