.btnpropio{@include botonpropio(nth($colores,3),nth($colores,2),nth($colores,2))}

.cardpropia
    {background-color: nth($colores,3);}
    
.fondonoticias
    {background-image: url(../images/fondo.png);
    background-size: 1000px;}

.carousel-inner img 
    {width: 100%;
    max-height: 500px;
.carousel-inner
    {height: 500px;}}
